.h1 {
    font-family:'Courier New', Courier, monospace;
}

.phone {
    background-color: black;
    width: 275px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-self: center;
    border-radius: 20px;
}

.phone-screen {
    width: 90%;
    height: 85%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    background-color: white;
    background-image: url("https://media1.tenor.com/m/KBe_nw4IL2QAAAAC/matrix-code.gif");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px
}
.app {
    max-width: 50px;
    max-height: 50px;
    margin: 5px;
    border: 3px white solid;
    border-radius: 10px;
    background-color:green;
}

.home-button {
    min-width: 50px;
    min-height: 50px;
    border-radius: 25px;
    background-color:lightgray;
    margin: 10px;
}

