.phone h1, p{
    color: white;
}

.phone {
    background-image: url('./img/iphone6.png');
    background-size:contain;
    width: 230px;
    height: 473px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 10px 0px 10px;
    justify-self: center;
    border-radius: 37px;
}

.phone-screen {
    width: 90%;
    height: 84%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    background-color: white;
    background-image: url("https://media1.tenor.com/m/KBe_nw4IL2QAAAAC/matrix-code.gif");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px
}

.phone-page {
    padding: 3px;
    overflow-y:scroll;
    overflow-x: hidden;
}

.app {
    max-width: 40px;
    max-height: 40px;
    margin: 5px;
    border: 3px white solid;
    border-radius: 10px;
    background-color:green;
    background-size:cover
}

.home-button {
    min-width: 40px;
    min-height: 40px;
    border-radius: 25px;
    background-color:black;
    margin: 3px;
    border: 3px darkgray solid;
}

