
h1 {
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    color: yellow;
}
body{
    background-color: gray;
}

p, a {
    font-family:'Courier New', Courier, monospace;
}