
h1 {
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    color: yellow;
}
body{
    background-color: gray;
    /* cursor: url('img/cursorTest.png'), auto; */
}

p, a {
    font-family:'Courier New', Courier, monospace;
}